* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.5);
  }

body {
    background-color: rgb(5,10,39);
    color: #ffffff;
    font-family: 'Manrope';
    font-weight: 500;
    /* cursor: url("../img/klee_cursor.png"), auto; */
}

.container {
    width: 90%;
}

.background {
    position: absolute;
}


/* --------------------------------------------- HEADER --------------------------------------------- */

/* Nav */

nav {
    height: 11vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    background-color: none;
    z-index: 99;
}

.nav-small {
    width: 20vw
}

.nav-sections {
    width: 45vw;
    text-align: center;
}

.nav-button {
    text-align: end;
}

nav a {
    margin-inline: 0.7vw;
    font-size: 0.9em;
}

nav a.enabled {
    color: #ffffff;
    transition: 0.2s;
}

nav a:hover {
    color: #bababa;
}

nav a.disabled {
    color: rgba(255, 255, 255, 0.7)
}

.dl-button {
    cursor: pointer;
    background-color: rgb(52,149,73);
    padding-inline: 1.3vw;
    padding-block: 1.8vh;
    margin-left: 0;
    margin-right: 5vw;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9em;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); 
}

.dl-button:hover {
    background-color: rgb(44, 128, 62);
    color: #e1e1e1;
}

/* Header Body */

#home {
    height: 100vh;
    padding-top: 4vh;
    background: linear-gradient(180deg, rgba(5,10,39,0.3) 60%, rgba(5,10,39,1) 100%), url("../img/1161890.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
} 

.header-info {
    margin-top: 35vh;
    width: 40vw;
}

h1 {
    margin-bottom: 3vh;
    font-size: 2.5em;
}

.header-desc {
    font-size: 1em;
    color: rgba(231, 231, 231, 1);
}


/* --------------------------------------------- MAIN --------------------------------------------- */

main {
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-deco {
    display: flex;
    align-items: center;
}

.section-title-square {
    min-width: 6px;
    min-height: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    rotate: 45deg;
    margin-inline: 1vw;
}

.section-title-hr-left {
    rotate: 90deg;
    height: 1vh;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-left: 1vw;
}

.section-title-hr-right {
    rotate: 90deg;
    height: 1vh;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-right: 1vw;
}

.hr-small {
    height: 0.2vh;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 1vh;
}

.section-desc {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8vh;
}


/* Profile */

#profile {
    margin-bottom: 13vh;
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 20vw;
    border: 1px solid white;
    border-radius: 1000px;
}

.profile-desc {
    text-align: justify;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    margin-left: 6vw;
    /* background-color: rgb(8, 17, 63);
    border-radius: 10px;
    padding: 3vw; */
}

.info-item {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.info-square {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    rotate: 45deg;
    margin-right: 1vw;
}

.highlight {
    color: white;
    font-weight: bold;
}


/* Skills */

#skills {
    margin-bottom: 13vh;
}

.skills-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5vw;
    width: 36.5vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    margin-bottom: 5vh;
}

.si-title-deco {
    font-size: 1.2em;
    margin-bottom: 6vh;
    display: flex;
    align-items: center;
}

.si-skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.si-skills-icon {
    width: 5vw;
}


/* Parcours */

#career-path {
    margin-bottom: 13vh;
}

.cp-grid {
    display: flex;
    flex-wrap: wrap;
}

.cp-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cp-info {
    width: 52vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    padding: 4vw;
    margin-bottom: 5vh;
}

.cp-item-place {
    font-weight: 300;
}

.cp-hr {
    width: 10vw;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
}

.cp-item-point {
    display: flex;
    align-items: center;
    margin-left: -1vw;
    margin-bottom: 1vh;
}

.cp-item-date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cp-item-date {
    width: 25vw;
    height: auto;
    text-align: center;
    margin-block: 3vh;
}


/* Portfolio */

#portfolio {
    margin-bottom: 13vh;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    background-size: cover;
    width: 28vw;
    height: 55vh;
    margin-block: 2vh;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: start;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.portfolio-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(52,149,73,0.8); 
}

.pi-info {
    background: rgba(0, 0, 0, 0.4);
    padding-inline: 1.5vw;
    padding-block: 2vh;
    width: 100%;
    height: 8vh;
    overflow: hidden;
    /* bg-color */
    transition: width 1s, height 2s;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    transition: 0.5s;
    border-radius: 0 0 5px 5px; 
}

.pi-info:hover {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.pi-title {
    font-size: 0.9em;
    margin-bottom: 1vh;
}

.pi-desc {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.7);
}

.les-vieilles-charettes {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/les-vieilles-charettes-preview.png");
    background-size: cover;
}

.maison-levasseur {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/les-brunchs-de-clairette-preview.png");
    background-size: cover;
}

.instant-gaming {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/instant-gaming-preview.png");
    background-size: cover;
}

.musee {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/musee-du-petit-palais-preview.png");
    background-size: cover;
}

.popchill {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/popchill-preview.png");
    background-size: cover;
}

.trouvailles {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/les-trouvailles-de-thais-preview.png");
    background-size: cover;
}

.fluxml {
    background: linear-gradient(180deg, rgba(5,10,32,0.4) 0%, rgba(5,10,39,0.5) 100%), url("../img/fluxml-preview.png");
    background-size: cover;
}


/* Contact */

#contact {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 25vw;
    padding: 4vh;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    margin-inline: 1vw;
}

.contact-icon {
    height: 13vh;
    margin-bottom: 4vh;
}

#contact p {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
}


/* --------------------------------------------- FOOTER --------------------------------------------- */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    padding-block: 4vh;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
}

.contact-info p {
    margin-left: 0.8vw;
    margin-right: 3vw;

}

.footer-icon-container {
    margin-inline: 0.5vw;
}

.footer-hr {
    width: 20px;
    margin-inline: 0.5vw;
}

.footer-icon {
    width: 3vw;
}

.footer-icon:hover {
    cursor: pointer;
}

.footer-contact-icon {
    height: 2.5vh;
}

.mentions-item {
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    margin-block: 1vh;
}